%main.main
  = render 'shared/sidebar'

  .chat-team-form
    - if current_user.teams.blank?
      .teams-not-exist
        所属チームはありません
    - else
      - current_user.teams.each do|team|
        .teams__list
          .teams__list__team
            = link_to "#" do
              .teams__list__team__name
                = team.name
              .teams__list__team__message
                = team.show_last_message
          .teams__list__icon
            = link_to edit_team_path(team.id) do
              = icon('fas', 'cog')
    .chat-team-form__new
      = link_to new_team_path do
        新規チーム作成