%main.main
  = render 'shared/sidebar'
  .contents
    .container
      = form_with model: @profile, class: :form, local: true do |f|
        = f.text_field :nickname, placeholder: 'ニックネーム', class: :form__nickname
        = f.text_area :introduction, placeholder: '自己紹介', class: :form__introduction
        .form__icon
          = f.label :image, class: :form__icon__image do
            = icon('fas', 'image')
            = f.file_field :image, class: :hidden
          = f.submit "update", class: :form__icon__submit