%main.main
  = render 'shared/sidebar'

  .contents
    %ul.container
      - @posts.each do |post|
        %li
          = link_to "posts/#{post.id}",class: "content" do
            .content__info
              .content__info__name
                = post.user.name
              .content__info__date
                = post.created_at.strftime("%Y/%m/%d %H:%M")
            .content__main
              .content__main__title
                = post.title
              .content__main__text
                = post.text
              = image_tag post.image.url, class: "content__main__image" if post.image.present?