%main.main
  = render 'shared/sidebar'

  .contents
    .container
      .ps-content__info
        .ps-content__info__name
          = @post.user.name
        .ps-content__info__date
          = @post.created_at.strftime("%Y/%m/%d %H:%M")
        .ps-content__info__edit
          - if user_signed_in? && current_user.id == @post.user_id
            .more
              %span= icon('far','arrow-alt-circle-down')
              %ul.more_list
                %li
                  = link_to '編集', "/posts/#{@post.id}/edit", method: :get
                %li
                  = link_to '削除', "/posts/#{@post.id}", method: :delete
      .ps-content__main
        .ps-content__main__title
          = @post.title
        .ps-content__main__text
          = @post.text
          - if @post.image.present?
            = image_tag @post.image.url, class: "ps-content__main__image"